.project-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'image details'
  'image details'
  ;
  gap: 40px;
  height: 100vh;
  text-shadow: white 0px 0px 10px;
}

.project-detail-container img {
  grid-area: image;
  height: 80vh;
  width: 40vw;
  box-shadow: 14px 14px 10px rgba(118,166,242, .9);
  border-radius: 5%;
  border: none;
  border-right: 5px solid rgba(118,166,242, .9);
  border-bottom: 5px solid rgba(118,166,242, .9);
}
.project-detail-container img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.project-detail-container a {
  grid-area: image;
  align-self: center;
}

.project-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  font-size: 20px;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  height: fit-content;

}
.project-details h4 {
  font-size: 40px;
}
.git-app-links {
  display: flex;
  justify-content: space-evenly;
}
.git-app-links a {
  background-color: white;
  border-radius: 5%;
  color:rgba(118, 166, 242, 1);
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.git-app-links a:hover {
  color: white;
  background-color: rgba(118, 166, 242, 1);
}

a:hover {
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  .project-detail-container {
  height: 80vh;
  }
  .project-detail-container img {
    height: 60vh;
    align-self: center;
    justify-self: center;
  }
  .project-details {
    height: 60vh;
    font-size: 13px;
  }
}




@media only screen and (max-width: 600px) {
  .project-detail-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    margin-top: 400px;
  }
  .project-detail-container img {
    width: 80vw;
    height: 50vh;
    order: 0;
  }
  .project-details {
    order: 1;
    font-size: 14px;
    text-align: center;
  }
}