.project-detail-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'image details'
  'image details'
  ;
  gap: 40px;
  height: 90%;
  height: 900px;
  /* font-weight: bold; */
  text-shadow: white 0px 0px 10px;
}

.project-detail-container img {
  grid-area: image;
  height: 700px;
  width: 700px;

}
.project-detail-container a {
  grid-area: image;
  align-self: center;
  /* height: 10%; */
}

.project-details {
  grid-area: details;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  font-size: 25px;
  width: 80%;

}
.project-details h4 {
  font-size: 50px;
}
.git-app-links {
  display: flex;
  justify-content: space-evenly;
}
.git-app-links a {
  color: blue;
}
a:hover {
  color: red;
}