#about {
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading heading"
    "picture content";
  box-sizing: content-box;
  justify-items: start;
  align-items: center;
}
#about h3 {
  grid-area: heading;
  font-size: 50px;
  padding-bottom: 20px;
  justify-self: center;
}
#about img {
  grid-area: picture;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: -100px;
  text-align: left;
}
#about div {
  grid-area: content;
  justify-self: start;
  align-self: center;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  text-shadow: white 0px 0px 10px;
}
.resume-link {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5%;
  align-items: center;
  transition: 0.7s;
}
.resume-link:hover {
  color: white;
  background: #474747;
}

@media only screen and (max-width: 1100px) {
  #about h3 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  #about img {
    justify-self: center;
    align-self: center;
    height: 90%;
    width: 70%;
    border-radius: 50%;
  }
  #about div {
    text-align: left;
    font-weight: bold;
    text-shadow: white 0px 0px 10px;
    align-self: center;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 850px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about img {
    height: 60%;
    width: 40%;
    margin-left: 0px;
  }
  #about div {
    padding-right: 0px;
    padding: 30px;
    text-align: left;
  }
}
