/* ADJUST THE ARROW POINTERS TO BE MORE VISBLE */
#carousel {
  margin: 0 auto;
  /* width: 50%; */
  /* height: 800px; */
  width: 50vw;
  /* height: 700px; */
}

#carousel img {
  /* height: 800px; */
  /* For media queries, take this height off */
  height: 70vh;
  /* height: 700px; */
  /* opacity: 0.9; */
  /* height: 50vh; */


}
#carousel h4 {
  color: black;
  font-size: 40px;
  /* Maybe add a background color and make the opacity super low with RGB */
  background-color: rgb(0, 0, 0, 0.2);
  /* Look at P1 for ways to make the text easier to read no matter the background */
  text-shadow: 0.02em 0 lightgray, 0 0.02em lightgray;
}
#carousel p {
  color: black;
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  #carousel {
    margin: 0 auto;
    /* width: 50%; */
    /* height: 800px; */
    width: 50vw;
    height: 70vh;
    /* height: 25vh; */
  }
  #carousel h4 {
    /* font-size: 0px; */
    /* color: red; */
    display: none;
  }
  #carousel img {
    height: 70vh;
  }
}
@media only screen and (max-width: 1000px) {

  #carousel {
    margin: 0 auto;
    /* width: 50%; */
    /* height: 800px; */
    width: 80vw;
    height: 70vh;
    /* height: 25vh; */
  }
}