.project-detail-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'image details'
  'image details'
  ;
  gap: 40px;
  height: 90%;
  height: 900px;
}

.project-detail-container img {
  grid-area: image;
  height: 100%;
  width: 100%;
}

.project-details {
  grid-area: details;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: space-around; */
  justify-content: space-between;
  font-size: 25px;

}
.project-details h4 {
  font-size: 50px;
}
.git-app-links {
  display: flex;
  justify-content: space-evenly;
}